<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
</head>
<!-- style goes here -->
<style>
    @media screen and (max-width: 480px) {
        #wrapper {
            right: 0%;
            left: 0%;
            top: 0%;
            bottom: 0%;
        }        
    }
</style>
<body 
style="
    height: 1719.02px; 
    width: 800px; 
    text-align: center;
    background-color: whitesmoke;
    color: #24164C;
    "
>
    <div 
    id="wrapper"
    style="
        height: 1070px; 
        width: 600px;
        position: absolute;
        left: 25.5%;
        right: 13.5%;
        top: 0%;
        bottom: 24.22%;
        "
    >
        <!--
        -->

        <div 
        style="
            position: absolute;
            left: 25.38%;
            right: 33.38%;
            top: 2%;
            bottom: 96.39%;
            font-family: 'Open Sans', sans-serif;
        ">
            <img alt="symble" src="../Symble Fullcolorsvg 1.png" />
        </div>

        <div 
        style="
        position: absolute;
        top: 10%;
        bottom: 0%;
        right: 0%;
        left: 94%;
        z-index: 5;
        ">
            <img src="../Vector.jpg" />
        </div>

        <div 
        id="content" 
        style="
        height: 870px;
        width: inherit;
        background-color: white;
        position: absolute;
        top: 10%;
        border-radius: 16px;
        "
        >
            <div 
            id="body" 
            style="
            margin-left: 48px;
            margin-right: 40px;
            margin-top: 60px;
            margin-bottom: 100px;
            text-align: left;
            font-family: 'Lato', sans-serif;
            "
            >
                <h2>Hey Hey! <%= username %>,</h2>
                <div>
                    <p>
                        Please click the button below to reset your password
                    </p>
                </div>
                <div>
                    <div 
                    id="button"
                    style="
                    margin-top: 60px;
                    margin-bottom: 130px;
                    ">
                        <button 
                        type="button" 
                        onclick="window.location.href = '<%= resetPasswordUrl %>'"
                        style="
                        background-color:  #24164C;
                        color: white;
                        border-radius: 27px;
                        border-color: #24164C;
                        width: 180px;
                        height: 40px;
                        ">
                        Reset your password
                        </button>
                    </div>
                    <div>
                        <p>
                            That didn't work,  you can copy and paste
                            this link in your browser.
                        </p>
                    </div>
                    <div 
                    style="
                    margin-bottom: 80px;
                    ">
                        <a href="<%= resetPasswordUrl %>"><%= resetPasswordUrl %></a>
                    </div>
                </div>
                <div>
                    <p>Have questions, feel free to <a href="hey@symble.live">send us a mail</a></p>
                </div>
                <div>
                    <div style="margin-bottom: 5px; margin-top: 50px;"><b>Your guys,</b></div>
                    <div><b>symbie</b></div>
                </div>
            </div>
        </div>
        <div 
        style="
        position: absolute;
        top: 82.5%;
        bottom: 0%;
        right: 81.4%;
        left: 0%;
        z-index: 5;
        ">
            <img src="../Vectorbigcircle.jpg" />
        </div>
        <div 
        style="
        font-family: 'Open Sans', sans-serif;
        position: absolute;
        top: 95%;
        left: 30.38%;
        right: 33.33%;
        bottom: 0%;
        ">
            <div>SYMBLE</div>
            <div>
                <a 
                style="
                font-weight: 400; 
                color: darkgray; 
                text-decoration: none;
                " 
                href="hey@symbie.live"
                >
                    hey@symbie.live
                </a>
            </div>
            <div>

            </div>
            <div style="margin-top: 30px; margin-bottom: 15px;">
                coming soon
            </div>
            <div style="display: flex; text-align: left;">
                <div style="margin-right: 5px; margin-left: -15px;"><img alt="appstore" src="../Apple App Storeappleicon.jpg"/></div>
                <div style="margin-right: 5px;"><img alt="appstore" src="../Google Play Storeplaystoreicon.png"/></div>
            </div>
            <div>
                <p 
                style="
                font-weight: 400; 
                color: darkgray; 
                text-decoration: none;
                " 
                href="hey@symbie.live"
                >
                    Powered By Symble
                </p>
            </div>
        </div>
    </div>
</body>
</html>