<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<style type="text/css" data-premailer="ignore">
    @import url('https://fonts.googleapis.com/css2?family=Nunito&display=normal ');
    body {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        background: #E5E5E5;
    }
    .container {
        position: absolute;
        width: 831px;
        height: 870px;
        left: 260px;
        background: #FFFFFF;
        padding-bottom: 15px;
    }

    .banner img  {
        position: absolute;
        width: 639px;
        height: 145px;
        left: 96px;
        top: 37px;
    }

    .banner p {
        position: absolute;
        width: 533px;
        height: 11px;
        left: 230px;
        top: 206px;
        font-size: 30px;
        line-height: 71px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #3F51B5;
    }

    .content {
        position: absolute;
        width: 831px;
        height: 574px;
        top: 400px;
        color: white;
        background: #38A3A5;
        border-radius: 20px 20px 0px 0px;
    }

    .inner-content {
        position: absolute;
        width: 566px;
        height: 94px;
        left: 148px;
        top: 287px;
        background: #FFFFFF;
        border-radius: 15px;
        align-items: center;
    }
    .inner-content span {
        position: absolute;
        padding: 2px;
        left: 2px;
        top: 10px;
        font-size: 24px;
        text-align: center;
        color: #3F51B5;
    }

    .content h3 {
        position: inherit;
        width: 629px;
        height: 87px;    
        left: 178px;
        top: 17px;
        font-weight: 600;
        font-size: 55px;
        line-height: 87px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .footer {
        position: absolute;
        width: 831px;
        height: 137px;
        top: 950px;
        background: #38A3A5;
        color: #fff;
        align-items: center;
    }

    .footer h2 {
        font-weight: 800;
        font-size: 40px;
    }

    .footer span {
        position: absolute;
        left: 300px;
        top: 100px;
        font-size: 20px;
    }

    

</style>
<body>
    <div class="container">
        <div class="banner">
            <img width="100px" height="100px" src="https://res.cloudinary.com/spray/image/upload/v1648134471/samples/Sprayme-banner.jpg" alt="Welcome Banner">
            <p> Congratulations <%=username%> </p>
        </div>
        <div class="content">
            <h3>Let the sprays begin</h3>
            <div class="inner-content">
                <span>Choose from thousands of unique events to meet, celeberate and spray cash</span>
            </div>
        </div>
        <div class="footer">
            <h2> Spray.mee </h2>
            <span> © 2022, spray technologies </span>
        </div>
    </div>
</body>
</html>